version: "3.8"

services:
  # PostgreSQL Database
  postgres:
    image: postgres:16-alpine
    container_name: user-management-postgres-nuxt
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: user_management_nuxt
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  # Nuxt.js Application
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: user-management-app-nuxt
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - postgres
    networks:
      - app-network
    command: sh -c "npx prisma migrate deploy && node .output/server/index.mjs"

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
